.thumbnails{
	display: inline-block;
	float: none;
	padding: 5px;
	

}
body {background: #f5c9c5;}
header {margin-top: 30px;}
/*header a {text-decoration: none;}
header a:hover {text-decoration: none;}*/
form {margin-top: 20px}
form, #results {padding: 20px;}
.item {margin-bottom: : 25px;}
.w100 {width: 100%;}

.goBtn.hover{

	background : lightblue;
}
